body{
	background: url("https://i.ytimg.com/vi/5dv_iIuFJtA/maxresdefault.jpg") no-repeat center;
	background-attachment: fixed;
	margin: 0px;
}

.col{
	width:300px;
	display: inline-block;
	margin: 10px;
}

.row{
	width:1000px;
	margin: 0 auto;
}

.container{
	min-height: 100vh;
	background-color: rgba(0,0,0,0.8);
	padding-top: 30px;
}

.preview img{
	width: 100%;
}

.bottom{
	background-color: rgba(0,0,0,1);
	padding: 10px;
}

.avatar{
	width: 80px;

}

.avatar img{
	width: 100%;
	overflow: hidden;
	border-radius: 50%;
	display: block;
}